/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  background-image: image-url('pizza.png');
  margin: 0 auto;
  width: 600px;
}

h1 {
  font-family: 'Lucida Casual', 'Comic Sans MS';
  font-size: 88px;
  text-align: center;
}

#slider {
  width: 500px;
}

#guest-count-slider {
  text-align: center;
}

li {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
  list-style-type: none;
}

#guest-number {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 30px;
  padding-left: 50px;
}

.pizza-logo {
  height: 132px;
}

footer {
  text-align: center;
  font-size: 3px;
}
