/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.slider
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  background-image: url('pizza.png');
  margin: 0 auto;
  width: 600px;
}

h1 {
  font-family: 'Lucida Casual', 'Comic Sans MS';
  font-size: 100px;
  text-align: center;
}

li {
  list-style-type: none;
}

#slider {
  width: 500px;
}

input#guests {
  margin-bottom: 10px;
}

li {
  font-size: 30px;
  font-weight: bold;
}

#guest-number {
  font-size: 20px;
}
