/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: sans-serif;
  background-image: image-url('pizza.png');
  margin: 0 auto;
  width: 600px;
}

ul {
  padding-left: 0px;
  margin-top: 0px;

  h2 {
    margin-bottom: 0px;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

li {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
  font-weight: bold;
  list-style-type: none;
}

.pizza-logo {
  height: 132px;
  font-family: 'Lucida Casual', 'Comic Sans MS';
  font-size: 88px;
  text-align: center;
}

#main {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}

#slider {
  width: 80%;
  display: block;
}

#search {
  width: 47%;
}
.search-label {
  margin-bottom: 5px;
}

#search-field {
  width: 100%;
}

footer {
  text-align: center;
  font-size: 3px;
}
