<h1>Pizza Time!</h1>

<input type="number" id="guests">

<div id="info">
  <ul>
    <label>Cheese:</label>
    <li id="cheese">0</li>
    <label>Pepperoni:</label>
    <li id="pepperoni">0</li>
    <label>Vegan:</label>
    <li id="vegan">0</li>
  </ul>
  <ul>
    <label>Cola:</label>
    <li id="cola">0</li>
    <label>Diet Cola:</label>
    <li id="diet-cola">0</li>
    <label>Sprite:</label>
    <li id="sprite">0</li>
  </ul>
</div>
